$headerColor : linear-gradient(60deg, #F99292, #EF5DA8);
$headerColor2 : linear-gradient(-30deg, darken(#79F0F8,20%), #695DEF);

$colorGrad1: linear-gradient(120deg, #45e683, #0c9f5d);
$colorGrad2: linear-gradient(-60deg, #f88a1c, rgb(249, 219, 46));
$colorGrad3: linear-gradient(-60deg, #6f15ed, rgb(200, 125, 240));