@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

body {
  height: 2000px;
}

.navbar {
  color: white;
  background: $headerColor2 !important;
  padding: 0 20px 0 20px;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
  .container-fluid{
    align-items: center !important;
  }
  .nav-logo{
    margin-right: 0.7rem;
    font-size: 1.8rem;
  } 
  .nav-user {
    outline: 2px solid white;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: fit-content;
    &:hover {
      color: #79F0F8;
      background-color: white;
    }
    .nav-user-logo {
      margin-top: 4px;
      margin-right: 10px;
    }
  }
}

.carousel {
  img {
    height: 360px !important;
  }
}

.userId {
  // outline: red 1px solid;
  margin: 40px 50px;
  display: flex;
  justify-content: flex-start;
  }
  .unlogged-content {
    // background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    left {
      width: 50%;
      padding: 20px;
      img {
        margin-top: 20px;
        width: 300px;
      }
      .login-form {
        margin-top: 20px;
        .login-submit {
          float: right;
        }
      }
    }
    right {
      height: 300px;
      width: 50%;
      background: $headerColor;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }

  .logged-content {
    // justify-content: flex-;
    outline: blue 1px solid;
    height: 340px;
    width: 100%;
    padding: 20px;
    .logged-user-logo {
      margin-right: 20px;
    }
  }

.myButton {
  outline: 2px solid white;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: fit-content;
  &:hover {
    color:#79F0F8;
    background-color: white;
  }
}

.errorMsg {
  margin-top: 10px;
  height: 20px;
  color: red;
}

.card-container {
  outline: red 1px solid;
  padding: 20px;
  display: grid;
  // justify-content: center;
  // align-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.card {
  img {
    min-height: 150px;
    max-height: 150px;
  }
}