@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

body {
  height: 2000px;
}

.navbar {
  color: white;
  background: $headerColor2 !important;
  padding: 0 20px 0 20px;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
  .container-fluid{
    align-items: center !important;
  }
  .nav-logo{
    margin-right: 0.7rem;
    font-size: 1.8rem;
  } 
  .nav-user {
    outline: 2px solid white;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: fit-content;
    &:hover {
      color: #EF5DA8;
      background-color: white;
    }
    .nav-user-logo {
      margin-top: 4px;
      margin-right: 10px;
    }
  }
}

.carousel {
  img {
    height: 360px !important;
  }
}

.userId {
  outline: red 1px solid;
  margin: 40px 50px;
  display: flex;
  justify-content: center;
  .userId-content {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .login-form {
    margin-top: 20px;
    .login-submit {
      float: right;
    }
  }
  .logged-user-logo {
    margin-right: 20px;
  }
}

.myButton {
  outline: 2px solid white;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: fit-content;
  &:hover {
    color: #EF5DA8;
    background-color: white;
  }
}

